<form action="/action/map">
  <div>
    <label for="origin">Origin</label>
    <input type="text" name="origin" id="origin">
  </div>

  <div>
    <label for="destination">Destination</label>
    <input type="text" name="destination" id="destination">
  </div>

  <button>Tell me the greenest route</button>
</form>
