<div class="page-header">
  <h2>
    Using our Beta
  </h2>
  <div class="fb-share-button" data-href="https://enerlet1.herokuapp.com" data-layout="button_count" data-mobile-iframe="true"></div>
</div>

<div class="row">
  <div class="col-sm-4">
    <div class="thumbnail">
      <img src="http://files.kaboompics.com/upload/546_min.jpg">
      <div class="caption">
        <h3>Plan a green trip</h3>
        <p>Use our feature to travel greener and complete your trip using Google Maps.</p>
        <p><a href="/trip" class="btn btn-primary" role="button">Plan trip</a></p>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
      <div class="thumbnail">
      <img src="http://www.lifeofpix.com/wp-content/uploads/2015/06/Life-of-Pix-free-stock-photos-beach-sand-rocks-jordanmcqueen.jpg">
      <div class="caption">
        <h3>Understand carbon footprint</h3>
        <p>Compare your footprint to the average American by filling in the lifestyle survey.</p>
        <p><a href="/surveys/new" class="btn btn-primary" role="button">Customize</a>
        <a href="/footprint" class="btn btn-default" role="button">View carbon footprint</a></p>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="thumbnail">
      <img src="https://picjumbo.imgix.net/HNCK8349.jpg?q=40&w=1650&sharp=30">
      <div class="caption">
        <h3>Take green actions</h3>
        <p>Browse links to offset carbon and shop green products.</p>
        <p><a href="/action" class="btn btn-primary" role="button">Take action</a></p>
      </div>
    </div>
  </div>
</div>

<hr>

<div>
  <p>Thank you for visiting us. We would love to hear your comments. It will help us shape what EnerLet eventually becomes. <a href="http://chicagobooth.az1.qualtrics.com/SE/?SID=SV_8jhUtSpgq44FNA1" target="_blank">Click here</a> to submit feedback.</p>
</div>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-76472669-1', 'auto');
  ga('send', 'pageview');

</script>
