<div class="page-header">
  <h2>
    About the beta product
  </h2>
</div>

<div class="row">
  <div class="col-sm-4">
    <div class="thumbnail">
      <img src="http://files.kaboompics.com/upload/546_min.jpg">
      <div class="caption">
        <h3>Plan a green journey</h3>
        <p>Use our trip feature to travel greener and complete your journey using Google Maps.</p>
        <p><a href="/trip" class="btn btn-primary" role="button">Plan trip</a></p>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="thumbnail">
      <img src="https://picjumbo.imgix.net/HNCK8349.jpg?q=40&w=1650&sharp=30">
      <div class="caption">
        <h3>Take green actions</h3>
        <p>Browse links to offset carbon and shop green products.</p>
        <p><a href="/lifestyle" class="btn btn-primary" role="button">Take action</a></p>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
      <div class="thumbnail">
      <img src="http://www.lifeofpix.com/wp-content/uploads/2015/06/Life-of-Pix-free-stock-photos-beach-sand-rocks-jordanmcqueen.jpg">
      <div class="caption">
        <h3>Understand carbon footprint</h3>
        <p>Compare your footprint to the average American by filling in the lifestyle survey.</p>
        <p><a href="/surveys/new" class="btn btn-primary" role="button">Take survey</a>
        <a href="/footprint" class="btn btn-default" role="button">View carbon footprint</a></p>
      </div>
    </div>
  </div>
</div>
