<style>
  .wrap
{
background-image:url(http://cdn.barnimages.com/wp-content/uploads/2015/11/2015-11-08-Igor-Trepeshchenok-Barnimages-8-1024x683.jpg);
width:1024px;
height:683px;
}
.text_over_image
{
text-align:center;
line-height:200px;
color: white;
font-size: 250%;
}
</style>


<div class="wrap">
      <div>
       <h1 class="text_over_image">EnerLet
        <small></small>
       </h1>
       <h2 class="text_over_image">Informing and providing options for individuals to reduce their carbon footprint</h2>
        <h3 class="text_over_image">
        Learn More > Sign Up >
        </h3>
      </div>

</div>


<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-76472669-1', 'auto');
  ga('send', 'pageview');

</script>
