<style>
  .wrap
    {
    background-image:url(http://cdn.barnimages.com/wp-content/uploads/2015/11/2015-11-08-Igor-Trepeshchenok-Barnimages-8-1024x683.jpg);
    width:100%;
    height:683px;
    }

  .text_over_image
    {
    text-align:center;
    color: white;
    font-size: 400%;
    }
</style>

<div class="row">
  <div class="col-sm-12">
    <div class="wrap">
      <br><h1 class="text_over_image">EnerLet
      <br><small style="color:white">Track and reduce your carbon footprint. Start today.</small>
      <br><br>
      </h1>
      <div class="container">
        <div class="row">
          <div class="col-sm-offset-1 col-sm-5">
            <% if user_signed_in? == true %>
            <h3 class="text_over_image"><a href="/beta" style="color:white">
              Start Trial >
            <% else %>
            <h3 class="text_over_image"><a href="/aboutus" style="color:white">
              About >
            <% end %>
            </a></h3>
          </div>
          <div class="col-sm-5">
            <h3 class="text_over_image"> <a href="/users/sign_up" style="color:white">
              Sign Up >
            </a></h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<hr>

<div>
  <p>Thank you for visiting us. We would love to hear your comments. It will help us shape what EnerLet eventually becomes. Click here to submit feedback.</p>
</div>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-76472669-1', 'auto');
  ga('send', 'pageview');
</script>
