<% content_for(:body_attributes) do %>
    data-no-turbolink="true"
  <% end %>

<div class="page-header">
<h2>
  Footprint
</h2>
<div class="fb-share-button" data-href="https://enerlet1.herokuapp.com/footprint" data-layout="button_count" data-mobile-iframe="true"></div>
</div>

<div class="well">
  <% if @survey.blank? == false %>
  Your carbon footprint is estimated at <%= @total_carbon %> pounds, equivalent to <strong><%= @total_trees %> trees</strong>
  <% else %>
  Please fill in the <a href="/surveys/new">lifestyle survey</a> to customize your carbon footprint
  <% end %>
</div>

<ul class="nav nav-tabs">
  <li role="presentation" class="active"><a href="#">Overall</a></li>
  <li role="presentation"><a href="#">Month (Coming soon)</a></li>
  <li role="presentation"><a href="#">Week (Coming soon)</a></li>
</ul>

<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>

<script>

$(function () {
    $('#container').highcharts({
        chart: {
            type: 'column'
        },
        title: {
            text: 'Annual estimated carbon footprint vs. average American'
        },
        credits: {
            enabled: false
        },
        xAxis: {
            categories: ['Me', 'Average']
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Carbon footprint (pounds)'
            },
            stackLabels: {
                enabled: true,
                style: {
                    fontWeight: 'bold',
                    color: (Highcharts.theme && Highcharts.theme.textColor) || 'gray'
                }
            }
        },
        legend: {
            align: 'center',
            x: 0,
            verticalAlign: 'bottom',
            y: 20,
            floating: true,
            backgroundColor: (Highcharts.theme && Highcharts.theme.background2) || 'white',
            borderColor: 0,
            borderWidth: 0,
            shadow: false
        },
        tooltip: {
            headerFormat: '<b>{point.x}</b><br/>',
            pointFormat: '{series.name}: {point.y}<br/>Total: {point.stackTotal}'
        },
        plotOptions: {
            column: {
                stacking: 'normal',
                dataLabels: {
                    enabled: true,
                    color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'white',
                    style: {
                        textShadow: '0 0 3px black'
                    }
                }
            }
        },
        series: [{
            name: 'Food',
            data: [<%= @diet_carbon %>, 5512]
        },
        {
            name: 'Home',
            data: [11464, 11464]
        },{
            name: 'Products and services',
            data: [12787, 12787]
        }, {
            name: 'Travel',
            data: [<%= @carbon_transport %>, 28000]
        }]
    });
});
</script>

<div id="container" style="width:100%; height:400px;"></div>

<br>

<div>
  <p>We are working on adding home, consumption and other carbon souces to your carbon footprint calculation. Estimates are based on your survey responses and data from Nature.org, AmericanForests.org and ShrinkThatFootprint.com</p>
</div>

<hr>

<a class="btn btn-primary" href="/trip" role="button">Plan trip</a>

<a class="btn btn-primary" href="/action" role="button">Take green action</a>

<hr>

<div>
  <p>Thank you for visiting us. We would love to hear your comments. It will help us shape what EnerLet eventually becomes. <a href="http://chicagobooth.az1.qualtrics.com/SE/?SID=SV_8jhUtSpgq44FNA1" target="_blank">Click here</a> to submit feedback.</p>
</div>


<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-76472669-1', 'auto');
  ga('send', 'pageview');

</script>
