<% content_for(:body_attributes) do %>
    data-no-turbolink="true"
  <% end %>

<div class="page-header">
<h2>
  Footprint
</h2>
<div class="fb-share-button" data-href="https://enerlet1.herokuapp.com/footprint" data-layout="button_count" data-mobile-iframe="true"></div>
</div>

<div class="well">
  Based on your lifestyle you can compare your carbon footprint to the average American. To see your updated footprint, fill in the lifestyle survey.
</div>

<head>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js">
    google.charts.load('current', {packages: ['corechart', 'bar']});
google.charts.setOnLoadCallback(drawStacked);

function drawStacked() {
      var data = google.visualization.arrayToDataTable([
        ['City', '2010 Population', '2000 Population'],
        ['New York City, NY', 8175000, 8008000],
        ['Los Angeles, CA', 3792000, 3694000]
      ]);

      var options = {
        title: 'Population of Largest U.S. Cities',
        chartArea: {width: '50%'},
        isStacked: true,
        hAxis: {
          title: 'Total Population',
          minValue: 0,
        },
        vAxis: {
          title: 'City'
        }
      };
      var chart = new google.visualization.BarChart(document.getElementById('chart_div'));
      chart.draw(view,options)
  </script>
</head>


<ul class="nav nav-tabs">
  <li role="presentation" class="active"><a href="#">Overall</a></li>
  <li role="presentation"><a href="#">Month</a></li>
  <li role="presentation"><a href="#">Week</a></li>
</ul>

<div id="chart_div" style="width: 400px; height: 240px;"></div>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-76472669-1', 'auto');
  ga('send', 'pageview');

</script>
