<div class="page-header">
  <h1>
    Your Footprint
  </h1>
</div>

<ul class="nav nav-tabs">
  <li role="presentation" class="active"><a href="#">Overall</a></li>
  <li role="presentation"><a href="#">Month</a></li>
  <li role="presentation"><a href="#">Week</a></li>
</ul>
