 <div class="page-header">
  <h2>
    Footprint
  </h2>
</div>

  <head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">


      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Year', 'Me', 'Community'],
          ['2013',  1000,      400],
          ['2014',  1170,      460],
          ['2015',  660,       1120],
          ['2016',  1030,      540]
        ]);

        var options = {
          title: 'Comparing Your Carbon Footprint',
          hAxis: {title: 'Year',  titleTextStyle: {color: '#333'}},
          vAxis: {minValue: 0}
        };

        var chart = new google.visualization.AreaChart(document.getElementById('chart_div'));
        chart.draw(data, options);
      }

      $(window).resize(function(){
      drawChart();
      });
    </script>
  </head>

<ul class="nav nav-tabs">
  <li role="presentation" class="active"><a href="#">Overall</a></li>
  <li role="presentation"><a href="#">Month</a></li>
  <li role="presentation"><a href="#">Week</a></li>
</ul>

<div id="chart_div" style="height: 500px;"></div>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-76472669-1', 'auto');
  ga('send', 'pageview');

</script>

