<style>
  .media-object {
    height: 130px;
  }

  .jumbotron{
    padding: 10px;
  }

  .wrap
  {
  background-image:url(http://36.media.tumblr.com/f0ca7b4e203f317ec570154520118903/tumblr_nudoweyTaI1teue7jo1_1280.jpg);
  width:100%;
  height:700px;
  }

.text_over_image
  {
  text-align:center;
  color: white;
  font-size: 380%;
  }
</style>

<div class="row">
  <div class="col-sm-12">
    <% if user_signed_in? == true %>
    <div class="alert alert-dismissable alert-success">
      <button type="button" href="/beta" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      Our beta has launched! Try today to understand your carbon footprint and travel greener.
    </div>
    <% else %>
    <div class="alert alert-dismissable alert-success">
      <button type="button" href="/beta" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      Our beta has launched! Sign up today to understand your carbon footprint and travel greener.
    </div>
    <% end %>
  </div>
</div>

<div class="page-header">
  <h2>
    About
  </h2>
  <div class="fb-share-button" data-href="https://enerlet1.herokuapp.com/footprint" data-layout="button_count" data-mobile-iframe="true"></div>
</div>

<div class="row">
  <div class="col-sm-12">
    <div class="wrap">
      <br><br>
      <h1 class="text_over_image">We don’t want to debate climate change. We want to stop it.
      </h1>
    </div>
  </div>
</div>

<hr>

<div class="well">
  <h1>Our Mission</h1>
  <p>We believe that with more accessible information, people can make better decisions to impact the environment.</p>
  <p>Our mission is to inform and provide options for individuals to reduce their carbon footprint. Our products allow individuals to understand their carbon footprint based on daily habits, compare their footprint with communities and take actions to reduce carbon impact.</p>
</div>

<div class="page-header">
  <h1><small>Benefits</small></h1>
  <div class="row">
    <div class="col-sm-4">
      <div class="thumbnail">
      <img src="https://picjumbo.imgix.net/Smooth-Touch-Workspace.jpg?q=40&w=1650&sharp=30" alt="...">
      <div class="caption">
        <h4>Information</h4>
        <p>Understand environmental impact with accurate data.</p>
      </div>
    </div>
    </div>
    <div class="col-sm-4">
      <div class="thumbnail">
      <img src="http://cdn.barnimages.com/wp-content/uploads/2015/11/2015-11-06-roman-002-1024x683.jpg" alt="...">
      <div class="caption">
        <h4>Convenience</h4>
        <p>Receive daily updates and make choices to reduce carbon impact.</p>
      </div>
    </div>
    </div>
    <div class="col-sm-4">
      <div class="thumbnail">
      <img src="http://kaboompics.com/files/upload/o_19sj4n0p610v61a5skru1i7t1q0r7_new.jpg" alt="...">
      <div class="caption">
        <h4>Community</h4>
        <p>Share goals, play games and compete with communities.</p>
      </div>
      </div>
    </div>
  </div>
</div>

<hr>

<div class="page-header">
  <h1><small>How it works</small></h1>
  <p>EnerLet is based on technologies we are building to bring updated and accurate information on carbon footprints to individuals. Our tools will allow customers to make choices on a daily basis to reduce their carbon impact, such as the daily commute.</p>
  <br>
  <p>Our beta product calculates your carbon footprint based on your lifestyle and helps you travel greener using our Trip feature. Sign up today.</p>
</div>

<hr>

<div class="page-header">
  <h1><small>Who we are</small></h1>
  <p>With orgins at the University of Chicago, we are a team with individuals who have a shared passion of addressing climate change. The team is currently participating in the Chicago Booth John Edwardson '72 Social New Venture Challenge.</p>


<div class="media">
  <div class="media-left">
    <a>
      <img class="media-object" src="https://media.licdn.com/media/AAEAAQAAAAAAAAItAAAAJGIxMzNlY2ZjLWVlZWYtNDFiNC1hZDhmLWU5ODZmZDBkZDM3ZA.jpg">
    </a>
  </div>
  <div class="media-body">
    <h4 class="media-heading">Deepa Garg, CEO</h4>
    Deepa has managed digital campaigns on behalf of major consumer brands for over a decade with experiences in green tech, politics and grass roots non-profit. She holds an MBA from the University of Chicago Booth School of Business.
  </div>
</div>
<div class="media">
  <div class="media-left">
    <a>
      <img class="media-object" src="https://scontent.ford1-1.fna.fbcdn.net/hphotos-xaf1/v/t1.0-9/10996787_10152778646117545_8212178937546871172_n.jpg?oh=2cc9239e18f49bd40cee4570eb74e727&oe=57C05AB5">
    </a>
  </div>
  <div class="media-body">
    <h4 class="media-heading">Harmesh Bhambra, CFO</h4>
    Harmesh has managed product development at Amazon and advised companies at Deloitte. He is currently a full-time MBA student at the University of Chicago Booth School of Business.
  </div>
</div>
<div class="media">
   <div class="media-left">
    <a>
      <img class="media-object" src="https://media.licdn.com/media/AAEAAQAAAAAAAAYAAAAAJDc2MGQ2ZjliLTkxODktNGI4Yy05YTU4LTdkNGY1ZmQzMmZmZg.jpg">
    </a>
  </div>
  <div class="media-body">
    <h4 class="media-heading">Samuel Bordenave, Head of Partnerships</h4>
    Before joining the team, Samuel worked at E-CUBE, a consultancy firm specialized in energy and environment. He holds a master in engineering from Mines Paristech and is a current MBA student at the University of Chicago Booth School of Business.
  </div>
</div>
<div class="media">
  <div class="media-left">
    <a>
      <img class="media-object" src="https://media.licdn.com/media/AAEAAQAAAAAAAAKXAAAAJDFhOTRjY2FkLWUwOTAtNDdjNC04NWM5LWRjMDY1NGU4N2E5MQ.jpg">
    </a>
  </div>
  <div class="media-body">
    <h4 class="media-heading">James Svenstrup, Head of Product</h4>
    James has worked technical and business roles at ExxonMobil and Natel Energy. He is a second-year MBA student at the University of Chicago Booth School of Business.
  </div>
</div>

</div>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-76472669-1', 'auto');
  ga('send', 'pageview');

</script>
